spring:
  application.name: demo
  cloud:
    config:
      enabled: false

logging:
  level:
    ROOT: INFO
    org.springframework.security: TRACE

# ========================================
# OpenTelemetry x Micrometer configuration
# ========================================
management:
  tracing:
    sampling:
      probability: 1.0 # todo what is this property used for?? deduplication??  (For demo only)
    export:
      enabled: true # (default) Whether auto-configuration of tracing is enabled to export and propagate traces.
      otlp:
        enabled: true # (default) Whether auto-configuration of tracing is enabled to export OTLP traces.
#  logging:
#    export:
#      otlp:
#        enabled: true

  # todo what is this property used for??
  observations:
    annotations:
      enabled: true

  otlp:
    metrics:
      export:
        # 2025-11-26:
        # The micrometer.registry.otlp package contains the interface OtlpMetricsSender.
        # However, there is no gRPC implementation of this interface in the current Micrometer release.
        # That's why we are limited to using HTTP for exporting metrics via OTLP.
        enabled: true
        url: http://localhost:4318/v1/metrics
        step: 10s # how often to export metrics to the OTLP endpoint (e.g., every 10 seconds)

  opentelemetry:
    tracing:
      export:
        otlp:
          # todo just HTTP ?!
          # todo probably not because there is also there is bean declaration of type OtlpGrpcSpanExporter in OtlpTracingConfigurations
          endpoint: http://localhost:4318/v1/traces # URL to the OTel collector's HTTP API.
          transport: http # (default) Transport used to send the spans. (http or grpc)

#    logging:
#      export:
#        otlp:
#          endpoint: grpc://localhost:4317/v1/logs
#          transport: grpc