spring:
  application.name: demo
  cloud:
    config:
      enabled: false

logging:
  level:
    ROOT: INFO
    org.springframework.security: TRACE

# ========================================
# OpenTelemetry x Micrometer configuration
# ========================================
management:
  tracing:
    sampling:
# todo this prevented traces from being shown in Grafana frontend => why?
      probability: 1.0 # Probability in the range from 0.0 to 1.0 that a trace will be sampled. (default: 0.1)
    export:
      enabled: true # (default) Whether auto-configuration of tracing is enabled to export and propagate traces.
      otlp:
        enabled: true # (default) Whether auto-configuration of tracing is enabled to export traces over OTLP.
  logging:
    export:
      enabled: true # (default) Whether auto-configuration of logging is enabled to export logs.
      otlp:
        enabled: true # (default) Whether auto-configuration of logging is enabled to export logs over OTLP.

  observations:
    annotations:
      enabled: true # Whether auto-configuration of Micrometer annotations is enabled. (default: false)

  otlp:
    metrics:
      export:
        # 2025-11-26:
        # The micrometer.registry.otlp package contains the interface OtlpMetricsSender.
        # However, there is no gRPC implementation of this interface in the current Micrometer release.
        # That's why we are limited to using HTTP for exporting metrics via OTLP.
        enabled: true
        url: http://localhost:4318/v1/metrics
        step: 10s # how often to export metrics to the OTLP endpoint (e.g., every 10 seconds)

  opentelemetry:
    tracing:
      export:
        otlp:
#          endpoint: http://localhost:4317/v1/traces # URL to the OTel collector's HTTP API. (Note: gRPC uses HTTP/2)
#          transport: grpc # (default) Transport used to send the spans. (http or grpc)
          endpoint: http://localhost:4318/v1/traces # URL to the OTel collector's HTTP API.
          transport: http # (default) Transport used to send the spans. (http or grpc)

    logging:
      export:
        otlp:
#          endpoint: http://localhost:4317/v1/logs # URL to the OTel collector's HTTP API. (Note: gRPC uses HTTP/2)
#          transport: grpc
          endpoint: http://localhost:4318/v1/logs # URL to the OTel collector's HTTP API.
          transport: http